.checkbox_input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.checkbox_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    background: #fff;
    border: 3px solid #000000;
    border-radius: 2px;
    margin-right: 10px;
}

.checkbox {
    height: 12px;
    width: 12px;
    background: #fff;
    border-radius: 2px;
}

.active {
    background: #186DD6;
}

.checkbox_block {
    display: flex;
    align-items: center;
}